* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    font-family: inherit;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

.main {
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#app {
    min-height: 100%;
    margin-bottom: -60px;
}

ul.nav {
    padding: 0;

    li {
        display: inline-block;
        list-style-type: none;
        padding-right: 12px;
    }
}

header {
    min-height:50px;
}

footer {
    padding-top: 20px;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.section {
    padding-bottom: 20px;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.api-doc-section {
    padding-bottom: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
